/* taken from gnome-shell.css, .dash-search-button */
.dexcom-current-location-link:selected,
.dexcom-current-location-link:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 255, 255, 0.4);
    background-gradient-end: rgba(255, 255, 255, 0.2);
}

.dexcom-current-summarybox {
    padding-top: 15px;
}

.dexcom-current-summary {
    font-size: 35px;
}

.dexcom-current-databox {
    padding-top: 15px;
    padding-left: 30px;
}

.dexcom-current-icon {
    padding: 0 30px;
}

.dexcom-current-iconbox {
    padding: 10px;
}

.dexcom-icon {
    padding-right: 5px;
}

.dexcom-icon-rtl {
    padding-left: 5px;
}

.dexcom-current-databox-captions {
    text-align: right;
    padding-right: 5px;
    color: #999999;
}

.dexcom-config {
  padding-right: 10px;
}
